       
       <div ng-controller="forgotChangePasswordCtrl" ng-init ="Captcha();">
					<nav class="navbar navbar-inverse">
							<div>
									<div class="navbar-header">
											<a class="navbar-brand " style = "margin-top :2px;" href="#/"> <img src = './assets/img/3DEZ-Red.png' height="50"></a>
							<a class="navbar-brand " style = "font-size : 24px !important ;margin-top: 16px !important;" href="#/">{{"HITACHI DESIGN SIMULATOR PLATFORM" | translate}}</a>
									</div>
									<ul class="nav navbar-nav navbar-right">
											
											<li class="dropdown">
													<a class="dropdown-toggle" data-toggle="dropdown" href="">{{"select language" | translate}}
													<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li><a href="" ng-click ="changeLanguage('en')">{{"english" | translate }}</a></li>
														<li><a href="" ng-click ="changeLanguage('jp')"; >{{"japaneses" | translate }}</a></li>
													</ul>
											</li>
											<!--li><a href="#signup"><i class="fa  fa-user "></i> {{"Signup" | translate }}</a></li-->
                    						<!--li><a href="#trail"><i class="fa  fa-user"></i> {{"GetTrailAccount" | translate}}</a></li-->

											<li><a href="#login"><i class="fa  fa-sign-in"></i> {{"Login" | translate }}</a></li>
									</ul>
			
							</div>
					</nav>
     	<!-- log in -->
      <div class="cards container col-md-4 col-sm-12 col-xs-12 cards push-md-5 shadow-effects"  style="background-color: white; " >
			<div class="cards-block">

				<!--Header-->
				<div class="forms-header blue-gradient">
					<h3><i class="fa fa-lock"></i> {{"Change Password" | translate }} </h3>
				</div>

				<!--Body-->
				<form name="forgotchangePasswordForm" id= "resetPasswordForm">


				<div class="md-forms">
					<i class="fa fa-lock prefix"></i>
					<input class="prem" style="font-size: 16px;margin-top: 1%" name="forgotNewpassword" type="password" id="form6" placeholder="{{'new password' | translate }}" class="forms-control" ng-model="forgotChangeNewPassword"  required="required">
					<span style="color:red; margin-left:10%" ng-show="forgotchangePasswordForm.forgotNewpassword.$dirty && forgotchangePasswordForm.forgotNewpassword.$invalid" class="">
				{{"password is  required!" | translate }}</span>
					<label for="form4"></label>
				</div>

				<div class="md-forms">
					<i class="fa fa-lock prefix"></i>
					<input class="prem" style="font-size: 16px;margin-top: 1%" name="forgotConfoirmPassword" type="password" id="form7" placeholder="{{'Confirm Password' |translate }}" class="forms-control" ng-model="forgotChangeConfirmPassword"  required="required">
					<span style="color:red; margin-left:10%" ng-show="forgotchangePasswordForm.forgotConfoirmPassword.$dirty && forgotchangePasswordForm.forgotConfoirmPassword.$invalid" class="">
				{{"password is  required!" | translate }}</span>
					<label for="form4"></label>
				</div>

				<div class="md-forms" style= "border: 2px solid #cbcfda;height: 119px;">

					<label class="prem premWithoutBoder" style="font-size: 16px;margin-top: 1%;padding-left: 10%"  id="mainCaptcha" class="forms-control"> {{captcha}} </label>

					<button class="btns btn-success refreshBtn" ng-click ="Captcha();"> <i class="fa fa-rotate-right makeBig"></i></button>

					<!--i class="fa fa-edit prefix forgotEdit"></i-->
					<i class="prefix"></i>

					<input class="prem captchaInput" style="font-family:Arial, FontAwesome" name="forgotConfoirmPasswordCaptcha" type="name" id="txtInput" placeholder="      &#xf044; {{'Enter the above text'| translate }}" class="forms-control " ng-model = "txtCaptcha" required="required">

					<label for="form4"></label>

				</div>
                 

				<div class="text-center">
				<span  style =" color:red;font-size: 16px;margin-left: 2%" ng-show="invalid_ceiteria">{{"invalid credential" | translate }}</span></br>
					<button class="btns btns-indigo  btns-indigo" ng-disabled="forgotchangePasswordForm.$invalid" style="font-size:18px" ng-click="ValidCaptcha()"> {{'Save' | translate}} </button>
					<hr>
				</div>
		</form>			
			</div>
		</div>
		<!-- login end -->
        </div>