/*Font Loded*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body{
  background-color:white;
  background:url('background.png');
  background-size: cover;
   overflow: hidden;
}
.ppd{
  background-color:white;
  background:url('images.png');
  background-size: cover;
}
.btn-custom {
  color: #bdc3c7;
  font-size: 18px;
  border: 1px solid #bdc3c7;
}
.btn-custom:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
#pricing-table {
  padding-top: 50px;
}

#pricing-table .pricing {
  marign: 0;
  padding: 0;
  font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 0px;
}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #34495e;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.set-user-logo{
  padding-left: 15%;
  padding-top: 4%;
}

#add-icon{
  margin-left: 13%;
}

#container-logo-img{
  width: 60px;
  height: 40px;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.shadow-effect{
	box-shadow: 10px 15px 25px gray;
	
}
 .shadow-effect:hover{
	box-shadow: 30px 25px 40px gray;
	transition: 0.3s;
}
.shadow-effects{
	box-shadow: 10px 15px 25px gray;
	
}
 .shadow-effects:hover{
	 box-shadow: 30px 25px 89px grey;
    transition: 0.3s;
}
  

#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 16px;
  color: #bdc3c7;
  text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
  padding: 20px 0 40px 0;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #bdc3c7;
  font-size: 16px;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}
.push-md-6 {
		margin-left:6%;
		
		}
        .push-md-5 {
		left: 34.66%;
		margin-top:8%;
		}
		@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
						.push-md-5 {
						 	left: 7%;
							margin-top: 8%;
							width: 61%;
						}
						.push-md-55 {
							margin-left: 0%;
		
						}
						
					}
			@media screen and (max-width: 750px) and (min-width: 300px) {
						.push-md-5 {
						left: 3%;
						margin-top: 9%;
						width: 93%;
					}
					.push-md-55 {
							margin-left: 0%;
		
						}
			}
			a{
				color:white;
			}
			li a{
				color:#2bbbad;
			}
			.forgotstyle
			{
				color:#45526e; 
				font-size:100%;
			}
			.forgotstyle:hover
			{
				color:#45526e; 
				/*font-size:150%;*/
				cursor: pointer;
      }