.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-container,
.w3-panel {
    padding: 0.01em 16px
}
.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
    content: "";
    display: table;
    clear: both
}
.w3-bar-block.w3-center .w3-bar-item {
    text-align: center
}
.w3-center {
    text-align: center!important
}
.w3-centered tr th,
.w3-centered tr td {
    text-align: center
}
.w3-center .w3-bar {
    display: inline-block;
    width: auto
}
